
@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo/static/Exo-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Exo italic */

@font-face {
    font-family: "Exo";
    src: url('../fonts/Exo/static/Exo-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Exo bold */

@font-face {
    font-family: "Exo";
    src: url('../fonts/Exo/static/Exo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
